.form__fieldset {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  margin: 0 0 32px 0;
  border-radius: 4px;
  border: 1px solid #838383;
}

.form__button {
  border-radius: 2px;
  padding: 15px 0;
  max-width: 385px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
}
.form__label-checkbox {
  height: 100%;

  display: flex;
  flex-direction: row-reverse;
  max-width: 385px;
  gap: 12px;
  justify-content: center;
  align-items: flex-end;
}

.form__label-checkbox .form__input {
  margin: 32px 0 0;
  height: 20px;
  width: 20px;
}
