.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.header__title {
  margin: 183px 0 0 80px;
  max-width: 709px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-acent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "noto serif";
  font-size: 20px;
  line-height: 30px;
}
.nav__links {
  display: flex;
  list-style-type: none;
  margin: 30px 80px 0 0;
  gap: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 38px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 40px 80px;
  margin-top: auto;
}
.header__paragraph {
  margin: 0;
  list-style: none;
  font-weight: 500;
  color: #838383;
}

.header__address {
  margin: 0;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  max-width: 580px;
  margin: 100px 0 0 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 80px 80px;
  font-family: "Noto serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  margin: auto;
  margin-bottom: 215px;
  gap: 40px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__containers {
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

.reservation__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  width: 100%;
  max-width: 385px;
}

.form__fieldset {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  margin: 0 0 32px 0;
  border-radius: 4px;
  border: 1px solid #838383;
}

.form__button {
  border-radius: 2px;
  padding: 15px 0;
  max-width: 385px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
}
.form__checkbox {
  height: 100%;

  display: flex;
  flex-direction: row-reverse;
  max-width: 385px;
  gap: 12px;
  justify-content: center;
  align-items: flex-end;
}

.form__checkbox .form__input {
  margin: 32px 0 0;
  height: 20px;
  width: 20px;
}
